/*=========================================================
  Start Header
=========================================================*/
@media(max-width:992px) {
   #header-section {
     padding-bottom: 0px;
   }
}

/*-------------------------------------------------------------------------*/
@media(max-width:768px) {}
 
/*-------------------------------------------------------------------------*/
@media(max-width:576px) {
 #header-section {
   padding-bottom: 40px;
 }
}

/*-------------------------------------------------------------------------*/
@media(max-width:480px) {

}
  
/*-------------------------------------------------------------------------*/
@media(max-width:320px) {
   #header-section {
     padding-bottom: 70px;
   }
  #header-section .header-cont h1 {
    font-size: 40px;
  }

  #header-section .header-cont p {
    font-size: 10px;
    letter-spacing: 5px;
  }
}

/*-------------------------------------------------------------------------*/
@media(max-width:290px) {}

/*End Header*/